@using KetoPal.Identity.Resources

@inject LocService SharedLocalizer
@{
    ViewData["Title"] = @SharedLocalizer.GetLocalizedHtmlString("CONFIRM_EMAIL");
}

<h1>@ViewData["Title"]</h1>
<div>
    <p>
        @SharedLocalizer.GetLocalizedHtmlString("CONFIRM_EMAIL_TEXT")
    </p>
</div>
